$label-color: #343e51;

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
    font-size: 1.5em;
    @media all and(max-width: $skinny-mobile-width) {
      font-size: 1.1em;
    }

  }
  .label-line {
    width: 50%;
    background: $label-color;
    height: 2px;
    position: absolute;

    @media all and(max-width: $skinny-mobile-width) {
      width: 75%;
    }
  }

  .label-box {
    background: white;
    z-index: 3;
    border: 2px solid $label-color;
    padding: 5px 20px;
  }
}
