$section-color: #f1f1f1;
$start-button-color: #f1c478;
$adoption-bg-color: white;

.Adoption {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .header {
    width: 75vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media all and(max-width: $mobile-width) {
      width: 100vw;
    }
  }

  .subtitle-text {
    padding-top: 0pt;
    padding-bottom: 40pt;
    @media all and(max-width: $mobile-width) {
      padding-left: 20pt;
      padding-right: 20pt;
    }


    h3 {
        text-align: left;
    }

  }

  .adoption {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $adoption-bg-color;

    @media all and(max-width: $skinny-mobile-width) {
    }

    .launch {
      background: white;

      @media all and(max-width: $mobile-width) {
        width: 95%;
      }
      h6{
        text-align: left;
        padding-top: 10px;
        padding-bottom:10px;
        font-size: 1.7em;
        @media all and(max-width: $skinny-mobile-width) {
        text-align: center;
        }
      }
      p {
        text-align: left;
        padding-top:5pt;
      }
    }

    .scale {
        width: 66.666%;

        @media all and(max-width: $mobile-width) {
          width: 95%;
          padding-bottom: 50px;
        }

      h6{
        text-align: left;
        font-size: 1.7em;
        padding-top:30px;
        padding-bottom:10px;
        @media all and(max-width: $skinny-mobile-width) {
        text-align: center;
        }
      }
      p{
        padding-top:5pt;
      }
    }

    .example {
      width: 33.333%;
      background: white;

      img {
        width: 100%;
      }

      @media all and(max-width: $mobile-width) {
        width: 100%;
      }


    }
  }

  .footer-text {
    width: 50vw;
    padding:0pt;

    @media all and(max-width: $mobile-width) {
      width: 75vw;
    }
  }

}
