$label-color: #343e51;

.label {
  display: flex;
  justify-content: center;
  align-items: center;

  .label-line {
    width: 50%;
    background: $label-color;
    height: 2px;
    position: absolute;
  }

  .label-box {
    background: white;
    z-index: 3;
    border: 2px solid $label-color;
    padding: 5px 15px;
  }

  h2 {
    font-size: 2.582em;
  }
}
