$section-color: #f1f1f1;
$start-button-color: #faa187;
$investment-color: white;

@import '../../scss/TextBlock.scss';

.Investment {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo-image {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
    width: 122px;
    height: 122px;
    }

  }




.milestones {
  width: 50%;
  padding-right: 50px;

  @media all and (max-width: $skinny-mobile-width) {
      width: 97%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
    }

  p {
        padding-bottom: 1pt;
      }

  h3 {
    text-align: left;
  }
}



.goal {
  font-weight: 200;
  padding: 0;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;

  p{
    font-family: Oswald;
    width: 79%;
    @media all and(max-width: $mobile-width) {
      width: 100%;
    }
    padding: 10px 0px;
  }
}


.milestone-date {
  p
  {
    color: #5fc5bb;
    font-size: 1em;
    text-align: right;
    padding-top: 5pt;
    padding-bottom: 15pt;
  }
}


.role {


    .role-title {
      color: #8B8B92;
      font-size: 1em;
      font-style: italic;
      padding-top:7pt;
    }
}

.milestone {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .milestone-header {
    width: 100%;
    h6 {
      text-align: right;
      font-size: 1.7em;
    }
  }
}



.header-text-money {
  padding-bottom: 12pt;
  h6 {
    text-align: center;
    font-size: 1.7em;
  }
}


  .investment {
    width: 75vw;
    height: 50vh;
    background: white;
    display: flex;

    @media all and(max-width: $mobile-width) {
      width: 100vw;
    }



    p {
      color: white;
    }

    .money {
      width: 60%;
      height: 100%;
      background: #574f4f;
    }
  }
}
