.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px;

    h1 {
      text-align: center;
      width: 75%;
    }
  }
  .section-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0px;
    h3{
      width: 50%;
      text-align: center;
    }
  }

  .section-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;

    h1 {
      text-align: center;
      width: 75%;
    }

    h2 {
      width: 50%;
      text-align: center;
    }
  }
}
