$text-block-color: #534b5d;

.text-block-grid {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 50px 0px;

  .text-block-row {
    display: inline-flex;
    justify-content: space-between;
    width: 70%;

    @media all and(max-width: $mobile-width) {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 50%;
    }

    .text-block{
      border: 3px solid $text-block-color;
      text-align: left;
      padding: 10px;
      border-radius: 10px;
      @media all and(max-width: $mobile-width) {
        margin: 50px 0px;
      }
      h6 {
        font-size: 1.6em;
        text-align: left;
        color: $text-block-color;
        margin-bottom: 15px;
      }
      .text-block-description {
        .roles {
          .role {
            p {
              color: $text-block-color;
            }
          }
        }
      }
    }
  }
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text-block-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media all and (max-width: $skinny-mobile-width) {

    }

  h3 {
    text-align: left;
  }

  .text-blocks {
    display: flex;
    width: 50%;
    justify-content: center;
    @media all and (max-width: $skinny-mobile-width) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      }
  }




  .text-block-row {
    width: 20vw;
    margin: 0px 5px;
    @media all and (max-width: $skinny-mobile-width) {
        width: 100%;
      }
  }


  .text-block {
    background: white;
    border: 2px solid #3d3d41;
    text-align: left;
    margin-bottom: 10px;
    flex-direction: column;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    justify-content: space-around;

        h6 {
          text-align: left;
          padding-bottom: 12pt;
          font-weight: 400;
        }
    }

  .contact-block {
    background: white;


        h6 {
          text-align: left;
          padding-bottom: 12pt;
          font-size: 1.7em;
        }
    }

  .text-block-list
  {
    padding-top:8pt;
  }
}
