.text-block-grid {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 50px 0px;

  .text-block-row {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .text-block{
      border: 2px solid black;
      text-align: left;
      padding: 10px;
      border-radius: 5px;
      h6 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
    }
  }
}
