$mobile-width: 1200px;
$skinny-mobile-width: 800px;
$global-color: #534b5d;
$mobile-position: 40vh;

@import '../components/NavBar/NavBar.scss';
@import '../components/MenuBar/MenuBar.scss';
@import '../components/MenuButton/MenuButton.scss';
@import '../components/Label/Label.scss';

@import '../sections/Intro/Intro.scss';
@import '../sections/Mission/Mission.scss';
@import '../sections/Opportunity/Opportunity.scss';
@import '../sections/Value/Value.scss';
@import '../sections/Traction/Traction.scss';
@import '../sections/BusinessModel/BusinessModel.scss';
@import '../sections/Adoption/Adoption.scss';
@import '../sections/Team/Team.scss';
@import '../sections/Investment/Investment.scss';

@import './section.scss';
@import './TextBlock.scss';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

  .wrapper {
    overflow-x: hidden;
    background: white;
    transition: all 0.35s ease;
  }

  .open {
    @media all and(max-width: $mobile-width) {
      transform: translateX($mobile-position);
    }
  }

  .closed {
    @media all and(max-width: $mobile-width) {
      transform: translateX(0vh);
    }
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $global-color;
  }

  p {
    font-family: Arial;
    font-size: 1.1em;
  }

  h1, h2, h3, h4, h5, h6, strong {
    font-family: 'Oswald';
    font-weight: 100;
  }

  strong {
    font-weight: 400;
  }

  h1 {
    font-size: 5.135em;
    font-weight: 300;

    @media all and(max-width: $mobile-width) {
      font-size: 2.7em;
    }

    @media all and(max-width: $skinny-mobile-width) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-size: 3.582em;
    font-weight: 300;
    color: #8e8094;
    @media all and(max-width: $mobile-width) {
      font-size: 2.2em;
    }

    @media all and(max-width: $skinny-mobile-width) {
      font-size: 2.1em;
    }
  }

  h3 {
    font-size: 1.4em;
    font-weight: 300;

    @media all and(max-width: $mobile-width) {
      font-size: 1.9em;
    }

    @media all and(max-width: $skinny-mobile-width) {
      font-size: 1.7em;
    }
  }

  h4 {
    font-size: 1.3em;
    @media all and(max-width: $mobile-width) {
      font-size: 0.9em;
    }

    @media all and(max-width: $skinny-mobile-width) {
      font-size: 0.7em;
    }
  }

  h5 {
    font-size: 1em;
    @media all and(max-width: $mobile-width) {
      font-size: 0.7em;
    }

    @media all and(max-width: $skinny-mobile-width) {
      font-size: 0.5em;
    }
  }

  h6 {
    font-size: 1.6em;
    margin: 0pt;
    font-weight: 400;
    cursor: pointer;
    color: #3d3d41;
    text-align: center;

    @media all and(max-width: $mobile-width) {
      font-size: 1.6em;
    }

    @media all and(max-width: $skinny-mobile-width) {
      font-size: 1.6em;
    }
  }
}
